<section data-ng-controller="RestaurantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Restaurants</h1>
    </div>
    <div>
        <input type="text" id="query" ng-model="query" class="form-control" placeholder="Search">
        <br />
        Sort
        <select ng-model="orderProp" class="form-control">
            <option value="name">Name [a-z]</option>
            <option value="-name">Name [z-a]</option>
            <option value="address">Address [a-z]</option>
            <option value="-address">Address [z-a]</option>
        </select>
        <br /><br />
    </div>
    <div class="list-group" data="{{restaurant.name}} {{restaurant.address}} {{restaurant.street}}">
        <a data-ng-repeat="restaurant in restaurants | filter:query | orderBy:orderProp" data-ng-href="#!/restaurants/{{restaurant._id}}" class="list-group-item">
            <img src="{{restaurant.picture_url}}" width="50px" height="50px" style="float:left; margin-right:10px;">
            <h3 class="list-group-item-heading" data-ng-bind="restaurant.name"></h3>
            <h5 class="list-group-item-heading">{{restaurant.address}}, {{restaurant.street}} | {{restaurant.phone}}</h5>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!restaurants.$resolved || restaurants.length">
    	No Restaurants yet, why don't you <a href="/#!/restaurants/create">create one</a>?
    </div>
</section>